<% provide :title, 'Projects' %>

<h1 class="mb-4">Projects</h1>

<div class="row g-3">
  <% @projects.each do |project| %>
    <div class="col-12 col-sm-6 col-md-4">
      <%= render 'project-card', project: project %>
    </div>
  <% end %>
</div>