<h1><%= @technology.name %></h1>

<%= link_to "Project Home Page", @technology.url %>

<h2>Projects made with:</h2>
<div class="row">
  <div class="col-12 col-sm-6 col-md-4">
    <% @technology.projects.each do |project| %>
      <%= render 'project-card', project: project %>
    <% end %>
  </div>
</div>
