<% provide :title, "Technology: #{@technology.name}" %>

<h1 class="fs-3"><%= @technology.name %></h1>

<%= link_to "Project Home Page", @technology.url %>

<h2 class="fs-5 mt-3">Projects made with:</h2>
<div class="row g-3">
  <% @technology.projects.each do |project| %>
    <div class="col-12 col-sm-6 col-md-4">
      <%= render 'project-card', project: project %>
    </div>
  <% end %>
</div>
