<% provide :title, "404 Not Found" %>

<h2>404 Not Found</h2>

<p>Sorry, but the page you are trying to access is not found.</p>

<p>Check the URL you are trying to access or go back to <%= link_to "home page", root_path %>.</p>