<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #2069fa">
  <div class="container-fluid">
    <%= link_to 'Portfolio', projects_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'Projects', projects_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
